<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="conDesarrollo" providerName="SQLServer" connectionString="uid=sa;pwd=S1stem@s;data source=.\sqlexpress;database=Desarrollo" />
  </connectionStrings>
  <appSettings>
    <add key="rutaLog" value="C:\inetpub\wwwroot\Sistemas\Administracion\Logs\" />
    <add key="rutaListaValores" value="C:\inetpub\wwwroot\Sistemas\ListaValores\" />
    <add key="sistemaAdministracion" value="10" />
    <add key="CorreoServidor" value="smtp.gmail.com" />
    <add key="CorreoPuerto" value="587" />
    <add key="CorreoDe" value="noreply.jacc@gmail.com" />
    <add key="CorreoClave" value="abcd$$1234" />
  </appSettings>  
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <sessionState timeout="15"></sessionState>
    <authentication mode="Forms">
      <forms name="Login" loginUrl="~/Account/Login" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>    
  </system.web>
  <location path="Account">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <directoryBrowse enabled="true" />
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
</configuration>